.none {
    display: none !important;
}

/************** Entering img paralax animations **************/

.imgParaNotVisible {
    opacity: 0;
}

.imgParaEnterleft {
    animation: imgEnterLeft 1s;
}

@keyframes imgEnterLeft {
    0% {
        opacity: 0;
        transform: translate(-250px, -250px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.imgParaEnter {
    animation: imgEnter 1s;
}

@keyframes imgEnter {
    0% {
        opacity: 0;
        transform: translate(250px, -250px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/************** Phone1 animations **************/

.phone1OnScreen {
    animation: phone1RotateOnScreen 1s;
    transform: rotate(0deg);
}

.phone1NotOnScreen {
    animation: phone1RotateNotOnScreen 1s;
    transform: rotate(-90deg);
}

@keyframes phone1RotateOnScreen {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0deg)
    }
}

@keyframes phone1RotateNotOnScreen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg)
    }
}

/************** Phone2 animations **************/

.phone2OnScreen {
    animation: phone2RotateOnScreen 1s;
    transform: rotate(0deg);
}

.phone2NotOnScreen {
    animation: phone2RotateNotOnScreen 1s;
    transform: rotate(90deg);
}

@keyframes phone2RotateOnScreen {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg)
    }
}

@keyframes phone2RotateNotOnScreen {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg)
    }
}

/*************** Forms animations ***************/

.formApper {
    animation: formAppear 500ms;
    transform: scaleY(1);
}

@keyframes formAppear {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

/*********** Connect Messages animations ************/

.messOnScreen {
    animation: messEnter 500ms;
    opacity: 1;
    transform: translateX(0);
}

.messNotOnScreen {
    opacity: 0;
    transform: translateX(-250px);
}

@keyframes messEnter {
    0% {
        opacity: 0;
        transform: translateX(-250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*********** Connect Icon animations ************/

.iconOnScreen {
    animation: showUpIcon 0.5s;
}

.iconNotOnScreen {
    opacity: 0;
    transform: scale(0);
}

@keyframes showUpIcon {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100%)
    }
}

/*********** Find img animations ************/

#find1, #find2, #find3 {
    transform: scale(1.4);
    opacity: 0;
}

#find3 {
    transition: all 0.5s ease;
}

#find2 {
    transition: all 0.5s;
    transition-delay: 0.5s;
}

#find1 {
    transition: all 0.5s;
    transition-delay: 1s;
}

#find1.active, #find2.active2, #find3.active3 {
    transform: scale(1);
    opacity: 1;
}