@font-face {
    font-family: "ProximaSoft";
    src: url('/font/ProximaSoft-Bold.woff2');
}

@font-face {
    font-family: "Gilroy";
    src: url('/font/Gilroy-Light.otf');
}

@font-face {
    font-family: "Gilroy_Bold";
    src: url('/font/Gilroy-ExtraBold.otf');
}

header, footer {
    height: 66px;
    background-image: url(/img/topbar.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

@media screen and (max-width: 965px) {
    header, footer {
        height: 39px;
    }
}

#phoneBorder, #phoneBorder2 {
    visibility: hidden;
}

video {
    background: none !important;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.splide__arrow {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: -5%;
    top: 25%;
    z-index: 10;
}

@media screen and (max-width: 965px) {
    button.splide__arrow {
        right: 10%;
        top: 35%;
    }
}

* {
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Gilroy', sans-serif;
}

p:not(.lineTags p, footer p), label {
    font-family: 'Gilroy', sans-serif;
    line-height: 2.5;
    color: #363A65;
}

label {
    font-weight: bold;
}

form .inputGroup {
    display: inherit;
}

@media screen and (max-width: 965px) {
    form .inputGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a {
    text-decoration: none;
}

h1:not(header h1):not(.tagH1) {
    font-size: 58px;
    width: max-content;
    background: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 47px;
    margin-bottom: 30px;
}

@media screen and (max-width: 965px) {
    h1:not(header h1):not(.tagH1) {
        font-size: 30px;
    }
}

h1, h3 {
    font-family: 'ProximaSoft', sans-serif;
}

h3 {
    color: white;
}

.borderButton {
    display: flex;
    width: max-content;
    align-items: center;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    color: white;
    background: white;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.borderButton:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
}

.downloadButon, input[type="submit"] {
    background: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: text, border-box;
    -webkit-text-fill-color: transparent;
    font-family: 'ProximaSoft', sans-serif;
    font-weight: 800;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.downloadButon:hover, input[type="submit"]:hover {
    background: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-background-clip: initial;
    -webkit-text-fill-color: white;
    cursor: pointer;
    box-shadow: none;
}

input:focus {
    outline: none;
}

form {
    display: flex;
    align-items: center;
    transform: scaleY(0);
}

form input {
    border: none;
    min-height: 56px;
    overflow: auto;
}

form input[type="text"] {
    border: 1px solid gray;
    width: 290px;
    margin-right: 10px;
    font-size: 15px;
    padding: 0 15px;
    border-radius: 20px;
}

/**************** header ****************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
}

header #toplogo {
    width: 38px;
}

@media screen and (max-width: 965px) {
    header {
        margin-bottom: 20px;
        padding: 0 20px;
        justify-content: center;
        flex-direction: row-reverse;
    }
    header h1 {
        font-size: 27px;
    }
    header h3 {
        display: none;
    }
    header #toplogo {
        margin-right: 10px;
        width: 28px;
    }
}

/********** Meet Section **********/

#meet {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    padding-top: 70px;
    overflow: hidden;
    position: relative;
}

#phoneVideo {
    position: relative;
    width: 350px;
}

#phoneVideo #phoneBorder {
    position: absolute;
    width: 340px;
}

#phoneVideo video {
    position: absolute;
    left: 20px;
    top: 14px;
    background: black;
    border-radius: 25px;
    width: 300px;
    /* height: 647px; */
}

#texte #splitchLogo {
    width: 800px;
    margin-bottom: 20px;
}

#texte h1, #texte p {
    margin-left: 140px;
}

#texte p {
    margin-bottom: 30px;
}

#texte .borderButton:not(form .borderButton) {
    margin-left: 200px;
}

#texte form {
    margin-left: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.imgpara {
    position: absolute;
    top: 95%;
    right: 0;
    overflow-x: hidden;
}

.imgparaleft {
    position: absolute;
    top: 90%;
    left: 2%;
}

#sourire {
    top: 75%;
    left: 2%;
    z-index: 10;
}

#coeurs {
    top: 40%;
    right: -2%;
    width: 200px;
}

#doigts {
    top: 30%;
    right: 10%;
}

#question7 {
    width: 100px;
    top: 46%;
    left: 0;
    display: none;
}

#question4 {
    top: 75%;
    right: 5%;
    width: 300px;
}

@media screen and (max-width: 1300px) {
    #meet {
        padding-bottom: 180px;
        justify-content: center;
    }
}

@media screen and (max-width: 1220px) {
    #texte #splitchLogo {
        width: 600px;
    }
    #doigts {
        top: 25%;
        right: 5%;
    }
    #coeurs {
        top: 45%;
    }
}

@media screen and (max-width: 1010px) {
    #phoneVideo {
        left: 5%;
    }
}

@media screen and (max-width: 965px) {
    #meet {
        flex-direction: column;
        padding-top: 2px;
        padding-bottom: 600px;
    }
    #phoneVideo {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 120px;
        width: 312px;
        padding: 0;
    }
    #phoneVideo #phoneBorder {
        width: 210px;
    }
    #phoneVideo video {
        position: absolute;
        left: 10px;
        top: 1px;
        width: 192px;
        /* height: 412px; */
    }
    #texte {
        width: 100%;
        padding: auto;
    }
    #texte #splitchLogo {
        position: absolute;
        z-index: -50;
        width: 334px;
        right: 0;
        margin-left: auto;
        left: 0;
        margin-right: auto;
    }
    #texte #meetTextForm {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 600px;
        width: max-content;
        margin: auto;
        margin-bottom: 20px;
    }
    #texte #meetTextForm h1 {
        order: 3;
        margin-top: 30px;
    }
    #texte #meetTextForm p {
        order: 4;
        margin-bottom: 0;
    }
    #texte #meetTextForm button {
        order: 1;
    }
    #texte #meetTextForm form {
        order: 2;
    }
    #texte h1, #texte p, #texte .borderButton:not(form .borderButton), #texte form {
        margin-left: 0;
    }
    #texte p {
        font-size: 14px;
    }
    #texte #buttonForForm {
        width: max-content;
        margin: auto;
    }
    #texte form {
        display: flex;
        flex-direction: column;
    }
    #texte form input[type="text"] {
        margin-bottom: 10px;
    }
    #doigts {
        width: 60px;
        top: 10%;
        right: 10%;
    }
    #coeurs {
        width: 70px;
        top: 32%;
        right: 0%;
    }
    #sourire {
        top: 30%;
        left: 0%;
        width: 70px;
    }
    #question4 {
        top: 23%;
        right: 0;
        width: 102px;
        z-index: 10;
    }
}

/********** Share Section **********/

#share {
    padding: 100px 0 200px;
    position: relative;
    overflow: hidden;
}

#share h1 {
    margin-left: 8%;
}

#shareSlider {
    overflow: hidden;
    margin-right: 160px;
    max-height: 376px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#shareSlider img:not(#sliderPlus) {
    width: 250px;
}

.slideImg {
    width: 276;
    margin-left: auto;
    margin-right: auto;
}

#sliderPlus {
    width: 200px;
}

.backgroundShare {
    position: absolute;
    z-index: -10;
    right: 0;
    top: 0;
}

#backgroundShare1 {
    top: 10px;
}

#backgroundShare2 {
    top: 420px;
}

@media screen and (max-width: 965px) {
    #share {
        padding: 10px 0 110px;
    }
    #share h1 {
        margin-left: auto;
        margin-right: auto;
        width: 344px;
    }
    #shareSlider {
        margin-right: 10%;
    }
    #sliderPlus {
        width: 150px;
    }
    #backgroundShare1 {
        top: 50px;
        right: -100px;
        height: 300px;
    }
    #backgroundShare2 {
        top: 330px;
        right: -70px;
    }
}

/********** Connect Section **********/

#connect {
    overflow-x: hidden;
    padding-bottom: 150px;
}

#connect h1 {
    width: max-content;
    margin-left: auto;
    margin-right: 150px;
}

#messagesIconAndVideo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 626px;
}

.backgroundConnect {
    position: absolute;
    z-index: -10;
}

#backgroundConnect1 {
    top: -50px;
    right: 50%;
}

#backgroundConnect2 {
    top: 200px;
    left: 0;
}

#messages {
    height: 100%;
    width: 100%;
}

#messages, #messages div {
    position: absolute;
}

#messages div:nth-child(1) {
    top: 0;
    left: 12%;
}

#messages div:nth-child(2) {
    top: 200px;
    left: 10%;
}

#messages div:nth-child(3) {
    top: 400px;
    left: 15%;
}

#messages img {
    width: 300px;
}

#connectIcon {
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#connectIcon img {
    width: 250px;
}

#phoneVideo2 {
    position: absolute;
    width: 350px;
    height: 570px;
    top: 50px;
    right: 10%;
}

#phoneVideo2 #phoneBorder2 {
    position: absolute;
    width: 280px;
}

#phoneVideo2 video {
    position: absolute;
    left: 17px;
    top: 5px;
    background: black;
    border-radius: 30px;
    width: 250px;
    /* height: 550px; */
}

@media screen and (max-width: 1250px) {
    #phoneVideo2 {
        right: 2%;
    }
    #messages div:nth-child(1) {
        top: 0;
        left: 7%;
    }
    #messages div:nth-child(2) {
        top: 200px;
        left: 5%;
    }
    #messages div:nth-child(3) {
        top: 400px;
        left: 10%;
    }
}

@media screen and (max-width: 965px) {
    #connect {
        padding-bottom: 40px;
        margin-top: -40px;
    }
    #connect h1 {
        margin-right: auto;
        margin-bottom: -10px;
    }
    #phoneVideo2 {
        display: none;
    }
    #messages div:nth-child(1) {
        top: 440px;
        left: 7%;
    }
    #messages div:nth-child(2) {
        top: 0px;
        left: 1%;
    }
    #messages div:nth-child(3) {
        top: 260px;
        left: auto;
        right: 0;
    }
    #question7 {
        display: block;
    }
}

@media screen and (max-width: 834px) {
    #messages div:nth-child(1) {
        left: 7%;
    }
    #messages div:nth-child(2) {
        left: -10px;
    }
    #messages div:nth-child(3) {
        right: -10%;
    }
    #backgroundConnect2 {
        top: 300px;
    }
}

@media screen and (max-width: 690px) {
    #messages div:nth-child(3) {
        right: -224px;
    }
    #backgroundConnect1 {
        right: 26%;
        top: 40px;
        height: 300px;
    }
    #backgroundConnect2 {
        top: 292px;
        height: 200px;
    }
    #connectIcon img {
        width: 200px;
    }
    #messages div:nth-child(1) {
        top: 400px;
        left: 2%;
    }
}

/********** All tags (Passions section, WhatTalk section, WhatTag section **********/

#passions, #WhatTalk, #WhatTag {
    margin-bottom: 100px;
}

#passions, #WhatTalk, #WhatTag {
    cursor: url(/img/cursorTags.png), auto;
}

#tags h1, #passions h1, #WhatTalk h1, #WhatTag h1 {
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 44px;
    margin-left: 15%;
    color: #363A65;
}

.tagH1 {
    display: flex;
    align-items: center;
}

.tagH1 img {
    margin-top: 1px;
    margin-right: 4px;
    width: 30px;
}

.tagGroup {
    overflow-x: auto;
}

#tags p, #passions p, #WhatTalk p, #WhatTag p {
    font-family: "Gilroy_Bold", sans-serif;
    text-align: center;
    cursor: url(/img/cursorTags.png), auto;
    white-space: nowrap;
}

.lineTags {
    display: flex;
    justify-content: center;
}

.lineTags p {
    margin-left: 2%;
    margin-bottom: 20px;
    padding: 15px 35px;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    background-color: white;
    color: #363A65;
}

.circleTags {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.circleTags p {
    padding: 7px 35px;
    box-shadow: 4px 4px 13px -1px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    background-color: white;
    color: #363A65;
    margin: 1% 10px;
    white-space: nowrap;
}

.lineTags p:hover, .circleTags p:hover {
    background-image: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
    cursor: pointer;
    color: white;
}

.circleTags p.selectedTag {
    background-image: linear-gradient(to left, #ce16d7, #8d6bff, #2992ff, #0bbef0);
    color: white;
}

@media screen and (max-width: 965px) {
    #passions, #WhatTalk, #WhatTag {
        margin-bottom: 50px;
    }
    #tags h1, #passions h1, #WhatTag h1, #WhatTalk h1 {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }
    .lineTags {
        display: flex;
        justify-content: left;
    }
}

/********** Exchange section **********/

#exchange {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

#exchText p {
    Font-size: 16px;
    color: #363A65;
    Line-height: 40px;
    margin-bottom: 100px;
}

#exchImageAndIcons {
    transform: rotate(6.83deg);
}

#exchIcons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

#exchCursor {
    display: none;
}

#exchIcons :nth-child(2) {
    margin-top: 30px;
}

@media screen and (max-width: 965px) {
    #exchange {
        flex-direction: column;
        overflow-x: hidden;
        margin-bottom: 40px;
    }
    .tagH1 {
        display: flex;
        align-items: flex-start;
    }
    #exchImageAndIcons {
        transform: rotate(6.83deg) scale(80%);
        position: relative;
    }
    #exchCursor {
        display: unset;
        position: absolute;
        width: 70px;
        bottom: -25px;
        left: 53%;
    }
    #exchText p {
        margin-bottom: 40px;
    }
}

/********** Find section **********/

#find {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#findImg {
    position: relative;
    width: 500px;
    height: 530px;
}

#findImg img {
    position: absolute;
}

#find1 {
    z-index: 3;
    width: 500px;
    top: 40px;
}

#find2 {
    z-index: 2;
    width: 500px;
}

#find3 {
    z-index: 1;
    width: 490px;
}

#find4 {
    z-index: 5;
    width: 600px;
    left: -45px;
}

#find5 {
    z-index: 4;
    width: 550px;
    left: -40px;
}

#findText {
    margin-left: -100px;
}

@media screen and (max-width: 1200px) {
    #findImg {
        margin-right: 100px;
    }
}

@media screen and (max-width: 965px) {
    #find {
        flex-direction: column-reverse;
        overflow-x: hidden;
        padding-top: 50px;
        margin-bottom: 0;
        padding-bottom: 50px;
    }
    #findImg {
        margin-right: 0;
        width: 300px;
        height: 310px;
    }
    #findImg img {
        position: absolute;
    }
    #find1 {
        z-index: 3;
        width: 300px;
        top: 40px;
    }
    #find2 {
        z-index: 2;
        width: 300px;
    }
    #find3 {
        width: 290px;
    }
    #find4 {
        width: 350px;
        left: -20px;
    }
    #find5 {
        width: 350px;
        left: -20px;
    }
    #findText {
        margin: auto;
        margin-bottom: 40px;
    }
}

/********** Stat section **********/

#stat {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
}

#statText h1 {
    font-size: 58px;
}

@media screen and (max-width: 965px) {
    #stat {
        flex-direction: column;
    }
    #statText {
        margin-bottom: 40px;
    }
    #statText h1 {
        font-size: 30px;
        margin-right: auto;
    }
    #pstat {
        font-size: 16px;
        Line-height: 40px !important;
        margin-left: auto;
        margin-right: auto;
    }
    #imgstat {
        width: 308px;
    }
}

/********** Test section **********/

#test {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

#testText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

#testText img {
    width: 120px;
    margin-bottom: 20px;
}

#testText p {
    margin-bottom: 30px;
}

#squaresplitch {
    width: 230px;
}

#testForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 965px) {
    #test {
        flex-direction: column-reverse;
    }
    #testText {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
    }
    #testText form input[type="text"] {
        margin-bottom: 10px;
    }
    #squaresplitch {
        width: 170px;
    }
}

/********** Footer **********/

footer {
    display: flex;
    align-items: center;
}

footer p {
    margin-left: 5%;
    font-family: "Gilroy_Bold", sans-serif;
}

@media screen and (max-width: 965px) {
    footer p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 12px;
    }
}